/*Navbar qismi*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
   
    overflow-y:hidden;
}
nav{
    background-color: #66ff00;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    box-shadow: 1px 1px 10px;
}
.logo{
    font-size: 2.4rem;
    font-weight: 800;
    color: #002222;
    letter-spacing: 2px;
    cursor: pointer;
}
ol{
    display: flex;
    position: relative;
    margin: auto 0;
    
}
ol li{
    margin: 0 30px;
    list-style: none;
    z-index: 11;

}
ol li a{
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 1.5em;
transition: 0.2s 0.1s ease;
}
ol li a:hover{
    color:#002222;
}
ol .slider{
    position: absolute;
    height: 75px;
    width: 150px;
    left: 10px;
    top: -9px;
    background-color: #002222;
    border-radius: 15px 15px 0 0;
    transform: translateX(0);
    transition: 0.2s ease-in;

}

input{
    display: none;
}
/* contact qismi */
footer {
    text-align: center;
    font-size: 2rem;
    padding: 5.2px;
    margin-top: 34.3rem;
    background-color: DarkSalmon;
    color: white;
  }
 footer p:hover,a:hover{
  color: #62f50e90;
 }
 
/*about qismi*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 40px;
   
}
header h2{
    color: white;
    text-align: center;
    margin-top: 6px;
}
form {
    max-width: 600px;
    border: 3px solid #f1f1f1;}

form .container label{
    color: white;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.imgcontainer img{
  width: 20%;
  border-radius: 50%;
}

img.avatar {
  width: 18%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* books qismi */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  transition: 0.3s;
  width: 45%;
  margin-left: 26rem;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
  padding: 2px 16px;
}
.card .container-card p,h4{
  color: white;
  text-align: center;
}

/* home class=index page */




.container {
  width: 1300px;
  margin: 0 auto;
}

.row {
  clear: both;
}


.col-3,
.col-12,
.col-6
{
  float: left;
}

.right {
  float: right;
}

.col-3 {width: 23.5%;}
.col-6 {width: 50%;}
.col-12 {width: 100%;}
.col-9{
  float: left;
  width: 100%;
}






.content {
  padding: 20px;
}

.content_img img{
  margin-top: 5px;
}


.content h2 {
  font-size: 22px;
  line-height: 27px;
  color: #000;
  font-weight: bold;
  transition: .2s ease;
  margin-bottom: 20px;
  margin-top: 10px;
  display: block;
}

.date {
  margin-bottom: 10px;
  opacity: .8;
  color: #000;
  font-size: 12px;
  padding-left: 20px;
  
}

.content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
} 




.new_title {
  margin-left: 20px;
}

.news-lenta {
  padding-bottom: 18px;
  border-bottom: 1px solid #d3d3d3;
  margin: 18px 0;
}

.news-lenta_title {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #000;
  transition: .2s ease;
  cursor: pointer;
}

a:hover, p:hover, h2:hover{
  color: #001088;
}

.block-title a {
  text-decoration: none;
  color: #66ff00;
}


/* new part */
.dark{
  background-color: darkgray;
}
.col-12{
width: 1300px;
height: auto;
 
  position: relative;
  animation: mymove 4s 1;
}
@keyframes mymove {
  from {bottom: 500px;}
  to {bottom: 0px;}
}
.trash{
position: absolute;
margin-left:1270px;
margin-top: 5px;
cursor: pointer;
font-size: 1.5rem;
}