*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
HEader{
    background-color: rgba(113, 248, 248, 0.135); 
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    list-style-type: none;
    float: right;
    margin: 20px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgba(18, 18, 19, 0.977);
    padding: 10px 25px;
    border: 5px solid transparent;
    transition: 0.7s ease;
}
ul li a:hover{
    background-color: red;
    color: black;
}
.logo img{
    float: left;
    width: 250px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
ul li.active a{
    background-color: white;
    color: blue;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.title h1{
    color: rgb(253, 16, 16);
    font-size: 100px;
}

ul li ul li {
    display: none;
}

